---
layout: markdown
title: Help
---

<h1>Help</h1>

{% for tag in site.data.support.tags %}
      <h4>{{ tag.name }}</h4>
      <ul>
            {% for support in site.support %}
            {% if support.tags contains tag.id  %}
                  <li><a href="{{ support.url }}">{{ support.title }}</a></li>
            {% endif %}
            {% endfor %}
      </ul>
{% endfor %}

<h3>More Help</h3>
<p>For feature requests or new sound requests please use the <a href="https://tally.so/r/wdEq4A">Request a Feature Form</a> or <a href="https://tally.so/r/wAzPGk">Request a New Sound Form</a>.</p>
<p>For any additional questions don't hesitate to email me at <a href="mailto:{{ site.supportEmail }}">{{ site.supportEmail }}</a>.</p>