<nav class="main-nav" aria-label="Main navigation">
  <a class="logo" href="/">
    <img src="/assets/press/promos/dark-noise-icon-v3-cropped.png" alt="">
    <span>Dark Noise</span>
  </a>
  <div class="links">
    {% assign current_url = page.url | replace: 'index.html', '' | replace: '.html', '' %}
    {% for item in site.data.navigation.headerLinks %}
      {% assign item_link_slash = item.link | append: '/' %}
      <a href="{{ item.link }}" {% if current_url == item.link or page.url == item_link_slash or (page.collection == 'support' and item.link == '/help') or (page.url == '/index.html' and item.link == '/') %}class="current"{% endif %}>{{ item.name }}</a>
    {% endfor %}
  </div>
</nav>
