<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta data-react-helmet="true" name="apple-itunes-app" content="app-id=1465439395">
    <title>{{ page.title }}</title>
    <!-- <link rel="stylesheet" href="https://use.typekit.net/dqq4mih.css"> -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- generics -->
    <link rel="icon" href="/spatial/assets/favicons/spatial-noise-192x192.png" sizes="192x192">
    <link rel="icon" href="/spatial/assets/favicons/spatial-noise-512x512.png" sizes="512x512">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/spatial/assets/favicons/apple-touch-icon.png" sizes="180x180">

    <link rel="me" href="https://indieapps.space/@darknoise" />
    <link rel="me" href="https://mastodon.social/@charliemchapman" />

    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation-spatial.html %}
      <div class="content">
        {{ content }}
      </div>
    {% include footer-spatial.html %}
  </body>
</html>